tests/test_data_temp/Test8A_dataset_2010.zip filter=lfs diff=lfs merge=lfs -text
tests/test_data_temp/Test8B_dataset_2010.zip filter=lfs diff=lfs merge=lfs -text
tests/test_data_temp/elev_lid792_1m.gtiff filter=lfs diff=lfs merge=lfs -text
